.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 3rlh;

  img {
    height: 1.25rlh;
    filter: grayscale(100%) brightness(120%);
    mix-blend-mode: plus-lighter;
    opacity: 0.5;
    transition:
      filter 0.2s ease,
      opacity 0.2s ease;
    &:hover {
      filter: grayscale(0%);
      opacity: 1;
    }
    &:global(.active) {
      filter: grayscale(0%);
      opacity: 1;
    }
    &.buff {
      height: 1.65rlh;
    }
    &.nerf {
      height: 1.125rlh;
    }
  }
}

.logostrip {
  display: flex;
  gap: 2rlh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block-start: 4rlh;
  padding-block-end: 4rlh;
}
