.blogGrid {
  display: grid;
  grid-template-columns: subgrid;
  row-gap: 6rlh;
  & > * {
    display: flex;
    flex-direction: column;
    row-gap: 1rlh;
    grid-column: span 12;
    @media (--1) {
      grid-column: span 6;
    }
    @media (--2) {
      grid-column: span 4;
    }
  }
}

.blogCard {
  column-gap: 2rlh;
  display: flex;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.blogAsset {
  border-radius: 0.4rlh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-dark);
  aspect-ratio: 16/9;
  border: 1px solid var(--fg-border);
}

.blogAssetContainer {
  width: 100%;
}

.blogMeta {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rlh;
}
