.quote {
  background-color: var(--bg);
  padding: 2rlh;
  display: grid;
  grid-auto-flow: row;
  gap: 2rlh;
}
.quoteContent {
  text-box: cap alphabetic;
}
.quoteMeta {
  display: flex;
  gap: 1rlh;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  /* div {
    display: flex;
    gap: 0.5rlh;
    justify-content: start;
  } */
}
.quoteAuthor {
  display: flex;
  gap: 0.5rlh;
  justify-content: start;
  align-items: center;
}

.quoteAuthorMeta {
  display: grid;
  column-gap: 1rlh;
  align-items: center;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  grid-template-areas:
    "image name"
    "image title";
  img {
    aspect-ratio: 1;

    height: 2.5rlh;
    border-radius: 99rlh;
    grid-area: image;
    grid-row: 1 / span 2;
  }
  span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1ch;
  }
  & > span:last-child {
    grid-area: title;
  }
}
