.quote {
  background-color: var(--bg);
  padding: 2rlh;
  display: grid;
  grid-auto-flow: row;
  gap: 2rlh;
}
.quoteContent {
  text-box: cap alphabetic;
}
.quoteMeta {
  display: flex;
  gap: 1rlh;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  /* div {
    display: flex;
    gap: 0.5rlh;
    justify-content: start;
  } */
}
.quoteAuthor {
  display: flex;
  gap: 0.5rlh;
  justify-content: start;
  align-items: center;
  img {
    aspect-ratio: 1;
    width: 2rlh;
    border-radius: 99rlh;
  }
}
