/* CSS Module with @scope and custom media queries */
.expandable {
  grid-column: bleedstart / bleedend;

  &[open] .subgrid {
    clip-path: rect(0% 100% 100% 0% round 1rlh);
  }
}

.subgrid {
  --total: 1104px;
  --padding: 1%;
  composes: grid-parent from global;
  clip-path: rect(
    0% calc(100% - var(--padding)) 100% var(--padding) round 1rlh
  );
  background-color: var(--bg-dark);
  transition: clip-path 0.2s ease;
  :global .flex {
    --gap: 0.5rlh;
    text-align: center;
  }

  :global .h5 {
    flex-grow: 1;
  }

  :global .flex:nth-child(1) {
    grid-column: start / 6;
  }

  :global .flex:nth-child(2) {
    grid-column: 6 / 10;
  }

  :global .flex:nth-child(3) {
    grid-column: 10 / end;
  }
}

.ui {
  display: grid;
  grid-column: bleedstart / bleedend;
  place-self: center;
}
