.button {
  composes: small from global;
  composes: mono from global;
  composes: caps from global;
  font-family: var(--font-judge-extended);
  text-decoration: none;
  background-color: var(--fg);
  color: var(--bg);
  grid-auto-rows: 1.25em;
  display: inline-grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  place-self: start;
  transition: background 0.2s ease;
  min-height: 2rlh;
  min-width: calc-size(calc-size(min-content, size), round(size, 2rlh) + 2rlh);
  padding: 0 1rlh;
  margin: 0;
  border-radius: 0.5rem;
  border: 1px solid var(--fg-border);
  white-space: nowrap;
  &:hover {
    text-decoration: none;
    background-color: var(--fg-dark);
    color: var(--bg-dark);
  }
}

.secondary {
  background-color: var(--bg);
  color: var(--fg);
  &:hover {
    text-decoration: none;
    background-color: var(--bg-dark);
    color: var(--fg-dark);
  }
}
