.h1 {
  composes: h1 from global;
}

.h2 {
  composes: h2 from global;
}

.h3 {
  composes: h3 from global;
}

.h4 {
  composes: h4 from global;
}

.h5 {
  composes: h5 from global;
  composes: caps from global;
}

.body {
  composes: paragraph from global;
}

.italic {
  composes: italic from global;
}

.small {
  composes: small from global;
}

.micro {
  composes: micro from global;
}

.mono {
  composes: mono from global;
}

.caps {
  composes: caps from global;
}

.brackets {
  composes: brackets from global;
}

.balance {
  text-wrap: balance;
}

.secondary {
  color: var(--fg-secondary);
}

.primary {
  color: var(--fg);
}
