.hero {
  composes: grid-parent from global;
  composes: checker from global;
  row-gap: 2rlh;
  padding-block-start: 4rlh;
  padding-block-end: 4rlh;
  text-align: center;
  & > h1 {
    grid-column: start / end;
    min-height: calc-size(
      calc-size(min-content, size),
      round(size, 2rlh) + 2rlh
    );
  }
  p {
    max-width: 40rem;
    margin-inline: auto;
  }
  :global(.flex) {
    place-self: center;
  }
}
