@layer base;

@font-face {
  font-family: "martina";
  font-weight: normal;
  src: url("./fonts/martina-plantijn-regular.woff2");
}

@font-face {
  font-family: "martina";
  font-weight: normal;
  font-style: italic;
  src: url("./fonts/martina-plantijn-italic.woff2");
}

@font-face {
  font-family: "judge-extended";
  font-weight: normal;
  src: url("./fonts/F37Judge-MediumExtended.woff2");
}

@font-face {
  font-family: "judge";
  font-weight: normal;
  src: url("./fonts/F37Judge-Regular.woff2");
}

@font-face {
  font-family: "dm-mono";
  font-weight: 400;
  src: url("./fonts/dm-mono-regular.woff2");
}
@font-face {
  font-family: "dm-mono";
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/dm-mono-regular-italic.woff2");
}
@font-face {
  font-family: "dm-mono";
  font-weight: 500;
  src: url("./fonts/dm-mono-medium.woff2");
}
@font-face {
  font-family: "dm-mono";
  font-weight: 500;
  font-style: italic;
  src: url("./fonts/dm-mono-medium-italic.woff2");
}

@custom-media --1 (min-width: 38em);
@custom-media --2 (min-width: 68em);
@custom-media --3 (min-width: 90em);

:root {
  /* COLORS */
  --navy: 228 61% 10%;
  --cyan: 212 100% 86%;
  --navy-dark: 227 88% 6%;
  --cyan-dark: 212 50% 70%;
  --blue: 212 100% 60%;

  --bg: hsl(var(--navy));
  --fg: hsl(var(--cyan));
  --bg-dark: hsl(var(--navy-dark));
  --fg-dark: hsl(var(--cyan-dark));
  --accent: hsl(var(--blue));

  --fg-secondary: hsl(var(--cyan) / var(--opacity-7));
  --fg-tertiary: hsl(var(--cyan) / var(--opacity-5));
  --fg-border: hsl(var(--cyan) / var(--opacity-2));

  --bg-secondary: hsl(var(--navy) / var(--opacity-7));
  --bg-tertiary: hsl(var(--navy) / var(--opacity-5));
  --bg-border: hsl(var(--navy) / var(--opacity-2));

  /* OPACITY */
  --opacity-1: 0.04;
  --opacity-2: 0.08;
  --opacity-3: 0.14;
  --opacity-4: 0.18;
  --opacity-5: 0.32;
  --opacity-6: 0.64;
  --opacity-7: 0.72;
  --opacity-8: 0.88;
  --opacity-9: 0.96;
  --opacity: 1;

  /* TYPOGRAPHY | https://clamp.font-size.app/ min:400 max:1104 */

  --scalefactor: clamp(
    0.75rem,
    0.6384rem + 0.4464vw,
    1rem
  ); /* --scalefactor 75-100% | min:400 max: 1296 */

  --h1: clamp(3rem, 1.2955rem + 6.8182vw, 6rem);
  --h2: clamp(2.5rem, 1.3636rem + 4.5455vw, 4.5rem);
  --h3: clamp(2rem, 1.7159rem + 1.1364vw, 2.5rem);
  --h4: clamp(1.25rem, 0.9659rem + 1.1364vw, 1.75rem);
  --body: clamp(1rem, 0.929rem + 0.2841vw, 1.125rem);
  --small: clamp(0.6875rem, 0.581rem + 0.4261vw, 0.875rem);
  --micro: clamp(0.5625rem, 0.456rem + 0.4261vw, 0.75rem);

  --font-martina: "martina", serif;
  --font-judge-extended: "judge-extended", sans-serif;
  --font-judge: "judge", sans-serif;
  --font-mono: "dm-mono", monospace;
}

@layer theme {
  /* Look into https://developer.chrome.com/docs/css-ui/at-scope */
  [data-theme="light"] {
    --bg: hsl(var(--cyan));
    --fg: hsl(var(--navy));
    --bg-dark: hsl(var(--cyan-dark));
    --fg-dark: hsl(var(--navy-dark));
    --fg-secondary: hsl(var(--navy) / var(--opacity-7));
    --fg-tertiary: hsl(var(--navy) / var(--opacity-5));
    --fg-border: hsl(var(--navy) / var(--opacity-2));

    --bg-secondary: hsl(var(--cyan) / var(--opacity-7));
    --bg-tertiary: hsl(var(--cyan) / var(--opacity-5));
    --bg-border: hsl(var(--cyan) / var(--opacity-2));
  }
  [data-theme="dark"] {
    --bg: hsl(var(--navy));
    --fg: hsl(var(--cyan));
    --bg-dark: hsl(var(--navy-dark));
    --fg-dark: hsl(var(--cyan-dark));
    --fg-secondary: hsl(var(--cyan) / var(--opacity-7));
    --fg-tertiary: hsl(var(--cyan) / var(--opacity-5));
    --fg-border: hsl(var(--cyan) / var(--opacity-2));

    --bg-secondary: hsl(var(--navy) / var(--opacity-7));
    --bg-tertiary: hsl(var(--navy) / var(--opacity-5));
    --bg-border: hsl(var(--navy) / var(--opacity-2));
  }
}

:root {
  line-height: var(--scalefactor);
  interpolate-size: allow-keywords;
  /* font-size: var(--small); */
}

@layer base {
  * {
    box-sizing: border-box;
    font-weight: normal;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
  }

  html {
    scrollbar-gutter: stable;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-martina);
    background-color: var(--bg);
    color: var(--fg);
  }

  @media (pointer: fine) {
    html::-webkit-scrollbar-track {
      background-color: var(--bg-dark);
    }

    html::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    html::-webkit-scrollbar-thumb {
      background-color: color-mix(
        in srgb,
        var(--fg) calc(100% * var(--opacity-5)),
        transparent
      );
    }

    html::-webkit-scrollbar-thumb:hover {
      background-color: var(--fg);
    }
  }

  section {
    background-color: var(--bg);
    color: var(--fg);
  }

  h1,
  h2,
  h3,
  h4 {
    color: inherit;
    margin: 0;
  }

  .h1 {
    font-family: var(--font-judge-extended);
    font-size: var(--h1);
    line-height: 1;
    letter-spacing: -0.02em;
  }
  .h2 {
    font-family: var(--font-judge-extended);
    font-size: var(--h2);
    line-height: 1;
    letter-spacing: -0.02em;
  }
  .h3 {
    font-family: var(--font-judge);
    font-size: var(--h3);
    line-height: 1.2;
    letter-spacing: 0;
  }
  .h4 {
    font-family: var(--font-judge-extended);
    font-size: var(--h4);
    line-height: 1.2;
  }
  .h5 {
    font-family: var(--font-judge-extended);
    font-size: var(--body);
    line-height: 1.2;
  }
  .paragraph {
    font-family: var(--font-martina);
    font-size: var(--body);
    line-height: 2rlh;
  }
  .italic {
    font-style: italic;
  }
  .small {
    font-size: var(--small);
    line-height: 1.5rlh;
  }
  .micro {
    font-size: var(--micro);
    line-height: 1.25rlh;
    letter-spacing: 0.04rem;
  }
  .caps {
    text-transform: uppercase;
    text-box: cap alphabetic;
    letter-spacing: 0.07rem;
  }
  .mono {
    font-family: var(--font-mono);
    font-weight: 500;
  }

  img {
    max-width: 100%;
    height: auto;
    display: flex;
  }

  hr {
    align-self: center;
    background: var(--fg-border);
    border: 0;
    min-width: 1px;
    min-height: 1px;
    margin: 0;
  }

  code {
    font-family: var(--font-mono);
    font-size: var(--small);
    line-height: 1.2;
    letter-spacing: 0.08em;
  }

  p,
  a {
    line-height: 2rlh;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration-color: var(--fg-tertiary);
    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--fg-secondary);
    }
  }

  ul,
  ol {
    padding: 0;
    margin: 0;
  }

  ol {
    list-style-type: decimal;
    & > li::marker {
      color: color-mix(
        in srgb,
        var(--fg) calc(100% * var(--opacity-5)),
        var(--bg)
      );
    }
  }

  ul {
    list-style-type: disc;
    & > li::marker {
      color: color-mix(
        in srgb,
        var(--fg) calc(100% * var(--opacity-4)),
        var(--bg)
      );
    }
  }

  li {
    margin-left: 1rlh;
    margin-bottom: 0.25rlh;
    padding-left: 0.5rlh;
    color: var(--fg);

    &::marker {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuNzUgMTIuMDAwNUg1LjI1VjkuMDAwNDlINi43NVYxMi4wMDA1Wk0xMC43NzM0IDIuMjg3Nkw3LjgxMDU1IDUuMjUwNDlIMTJWNi43NTA0OUg3LjgxMDU1TDEwLjc3MjUgOS43MTI0TDkuNzExOTEgMTAuNzcyOUw2IDcuMDYxMDRMMi4yODgwOSAxMC43NzI5TDEuMjI3NTQgOS43MTI0TDQuMTg5NDUgNi43NTA0OUgwVjUuMjUwNDlINC4xODk0NUwxLjIyNjU2IDIuMjg3NkwyLjI4NzExIDEuMjI3MDVMNiA0LjkzOTk0TDkuNzEyODkgMS4yMjcwNUwxMC43NzM0IDIuMjg3NlpNNi43NSAzLjAwMDQ5SDUuMjVWMC4wMDA0ODgyODFINi43NVYzLjAwMDQ5WiIgZmlsbD0iIzQxOEZFQSIvPgo8L3N2Zz4K");
    }
  }

  main {
    margin: 0 auto;
  }
}
