@font-face {
  font-family: "martina";
  font-weight: normal;
  src: url("./fonts/martina-plantijn-regular.woff2");
}

@font-face {
  font-family: "martina";
  font-weight: normal;
  font-style: italic;
  src: url("./fonts/martina-plantijn-italic.woff2");
}

@font-face {
  font-family: "judge-extended";
  font-weight: normal;
  src: url("./fonts/F37Judge-MediumExtended.woff2");
}

@font-face {
  font-family: "judge";
  font-weight: normal;
  src: url("./fonts/F37Judge-Regular.woff2");
}

@custom-media --1 (min-width: 38em);
@custom-media --2 (min-width: 68em);
@custom-media --3 (min-width: 90em);

:root {
  /* COLORS */
  --navy: 228 61% 10%;
  --cyan: 212 100% 86%;
  --navy-dark: 227 88% 6%;
  --cyan-dark: 212 76% 80%;
  --blue: 212 100% 60%;

  --bg: hsl(var(--navy));
  --fg: hsl(var(--cyan));
  --bg-dark: hsl(var(--navy-dark));
  --fg-dark: hsl(var(--cyan-dark));
  --accent: hsl(var(--blue));

  --fg-secondary: hsl(var(--cyan) / var(--opacity-6));
  --fg-tertiary: hsl(var(--cyan) / var(--opacity-5));
  --fg-border: hsl(var(--cyan) / var(--opacity-2));

  /* OPACITY */
  --opacity-1: 0.04;
  --opacity-2: 0.08;
  --opacity-3: 0.14;
  --opacity-4: 0.18;
  --opacity-5: 0.32;
  --opacity-6: 0.64;
  --opacity-7: 0.72;
  --opacity-8: 0.88;
  --opacity-9: 0.96;
  --opacity: 1;

  /* TYPOGRAPHY | https://clamp.font-size.app/ min:400 max:1104 */
  --h1: clamp(3rem, 1.2955rem + 6.8182vw, 6rem);
  --h2: clamp(2.5rem, 1.3636rem + 4.5455vw, 4.5rem);
  --h3: clamp(2rem, 1.7159rem + 1.1364vw, 2.5rem);
  --body: clamp(1rem, 0.929rem + 0.2841vw, 1.125rem);
  --small: clamp(0.875rem, 0.804rem + 0.2841vw, 1rem);

  --font-martina: "martina", serif;
  --font-judge-extended: "judge-extended", sans-serif;
  --font-judge: "judge", sans-serif;
  --font-mono: "mono", monospace;
}

@layer theme {
  [data-theme="light"] {
    --bg: hsl(var(--cyan));
    --fg: hsl(var(--navy));
    --bg-dark: hsl(var(--cyan-dark));
    --fg-dark: hsl(var(--navy-dark));
    --fg-secondary: hsl(var(--navy) / var(--opacity-6));
    --fg-tertiary: hsl(var(--navy) / var(--opacity-5));
    --fg-border: hsl(var(--navy) / var(--opacity-2));
  }
}

:root {
  line-height: 1;
  font-size: var(--body);
}

* {
  box-sizing: border-box;
  font-weight: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-martina);
  background-color: var(--bg);
  color: var(--fg);
}

section {
  background-color: var(--bg);
  color: var(--fg);
}

h1,
h2 {
  color: inherit;
  font-family: var(--font-judge-extended);
  line-height: 1;
  margin-block-start: 4rlh;
  margin-block-end: 1rlh;
}

.h1 {
  font-size: var(--h1);
  letter-spacing: -0.02em;
}
.h2 {
  font-size: var(--h2);
  letter-spacing: -0.02em;
}

p,
a {
  line-height: 2rlh;
  margin: 0;
}

a {
  margin-right: 1rem;
  color: inherit;
  text-decoration-color: var(--fg-tertiary);
  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--fg-secondary);
  }
}

main {
  text-align: center;
  margin: 0 auto;
}
