.grid-container {
  --margin: minmax(0, 1fr);
  --max-width: 1104px;
  display: grid;
  grid-template-columns:
    [bleedstart]
    var(--margin)
    [start]
    repeat(12, minmax(0, calc(var(--max-width) / 12)))
    [end]
    var(--margin)
    [bleedend];
}

.grid {
  background-image:
    linear-gradient(to right, var(--fg-border) 1px, transparent 1px),
    linear-gradient(var(--fg-border) 1px, transparent 1px);
  background-size: 2rlh 2rlh;
  background-repeat: round;
  background-position: 0px 0px;
}
