@layer utils {
  .checker {
    /* font-size: clamp(0rem, 0rem + 1.2346vw, 1rem); */
    background-image:
      linear-gradient(to right, var(--fg-border) 1px, transparent 1px),
      linear-gradient(var(--fg-border) 1px, transparent 1px);
    background-size: 2rlh 2rlh;
    /* background-repeat: round; */
    background-position: 0px 0px;
  }

  .flex {
    --gap: 2rlh;
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .brackets {
    &::before {
      content: "[";
    }
    &::after {
      content: "]";
    }
  }

  .divider {
    height: 1px;
    background-color: var(--fg-border);
    margin-block-start: 2rlh;
    margin-block-end: 2rlh;
  }

  .grid-parent {
    --margin: minmax(0, 1fr);
    --gridSize: 48px;
    --columns: 12;
    --gaps: calc(var(--columns) - 1);

    --maxWidth: calc(
      ((var(--columns) + var(--gaps)) * var(--gridSize)) + var(--gridSize) * 4
    );
    --unit-size: min(
      var(--gridSize),
      calc(var(--gridSize) / var(--maxWidth) * 100vw)
    );
    --gap: var(--unit-size);

    display: grid;
    column-gap: var(--gap);
    grid-template-columns:
      [bleedstart]
      var(--margin)
      [start]
      repeat(var(--columns), var(--unit-size))
      [end]
      var(--margin)
      [bleedend];
    & > * {
      grid-column: start / end;
    }
  }
}

@layer spacing {
  .py-1 {
    padding-block-start: 1rlh;
    padding-block-end: 1rlh;
  }
  .py-2 {
    padding-block-start: 2rlh;
    padding-block-end: 2rlh;
  }
  .py-3 {
    padding-block-start: 3rlh;
    padding-block-end: 3rlh;
  }
  .py-4 {
    padding-block-start: 4rlh;
    padding-block-end: 4rlh;
  }

  .my-1 {
    margin-block-start: 1rlh;
    margin-block-end: 1rlh;
  }
  .my-2 {
    margin-block-start: 2rlh;
    margin-block-end: 2rlh;
  }
  .my-3 {
    margin-block-start: 3rlh;
    margin-block-end: 3rlh;
  }
  .my-4 {
    margin-block-start: 4rlh;
    margin-block-end: 4rlh;
  }

  .mt-1 {
    margin-block-start: 1rlh;
  }
  .mt-2 {
    margin-block-start: 2rlh;
  }
  .mt-3 {
    margin-block-start: 3rlh;
  }
  .mt-4 {
    margin-block-start: 4rlh;
  }

  .mb-1 {
    margin-block-end: 1rlh;
  }
  .mb-2 {
    margin-block-end: 2rlh;
  }
  .mb-3 {
    margin-block-end: 3rlh;
  }
  .mb-4 {
    margin-block-end: 4rlh;
  }
}
