.codetab {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-bottom: 1px solid var(--fg-border);
}

.filename {
  flex: 1;
  padding: 0 1rlh;
}

.tabs {
  display: flex;
  gap: 0;
}

.tab {
  appearance: none;
  border: none;
  outline: none;
  color: color-mix(
    in srgb,
    var(--fg) calc(100% * var(--opacity-4)),
    transparent
  );
  padding: 1rlh 1rlh;
  background: transparent;
  cursor: pointer;
  font-family: var(--font-judge-extended);
  font-size: var(--micro);
  transition: all 0.2s ease;
  @media (--1) {
    font-size: var(--small);
  }
  &:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
    outline-offset: 1px;
  }
}

.tab:hover {
  background: var(--bg-secondary);
}

.tab.active {
  color: var(--fg);
}

.codeBlockContainer {
  width: 100%;
  display: grid;
}
