/* CSS Module with @scope and custom media queries */
.expandable {
  margin-top: 4rlh;
  grid-column: bleedstart / bleedend;
  background-color: var(--bg-dark);
  &[open] .codeBlock {
    transform: translateY(0);
  }
}

.accordion {
  grid-column: start / end;
  margin-top: 4rlh;
  & > [open] .cardContent p {
    opacity: 1;
  }
}

.card {
  transition: background-color 0.2s ease;
  background-color: var(--fg-dark);
}

.step {
  white-space: nowrap;
}
.cardContent {
  padding: 3rlh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  row-gap: 2rlh;
  height: 32rlh;
  pointer-events: none;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    /* padding: 1.5rlh; */
    min-width: clamp(28rlh, 100%, 36rlh);
    object-fit: scale-down;
    object-position: center 0;
  }
  p {
    color: var(--bg-secondary);
    transition: opacity 0.5s ease 0.5s;
    opacity: 0;
    @media (--1) {
      width: clamp(16rlh, 100%, 28rlh);
    }
    @media (--2) {
      transition: opacity 0.2s ease 0.2s;
      width: 20rlh;
    }
  }
  span {
    color: var(--bg);
  }
}

.quote {
  font-family: var(--font-judge-extended);
  line-height: 1.5rlh;
  letter-spacing: 0.03em;
}
.expandableSection {
  background-color: transparent;
}

.expandableLeft {
  grid-column: start / end;
  padding-block: 4rlh;
  gap: 2rlh;
  display: grid;
  grid-auto-flow: row;
  @media (--2) {
    grid-column: start / 8;
  }
}

.badges {
  height: 4rlh;
}

.codeBlock {
  order: -1;
  grid-column: start / end;
  height: 100%;

  place-self: stretch;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;

  transition: transform 0.2s ease;
  @media (--2) {
    border-left: 1px solid var(--fg-border);
    transform: translateY(-12.5%);
    order: 1;
    grid-column: 8 / bleedend;
  }
}

.divider {
  margin-block: 4rlh;
}

.subgrid {
  composes: grid-parent from global;
  grid-template-columns: subgrid;
  :global .flex {
    margin-block: 2rlh;
    --gap: 2rlh;
    text-align: center;
  }

  :global .h5 {
    flex-grow: 1;
  }

  :global .flex:nth-child(1) {
    @media (--2) {
      grid-column: start / 5;
    }
  }

  :global .flex:nth-child(2) {
    @media (--2) {
      grid-column: 5 / 9;
    }
  }

  :global .flex:nth-child(3) {
    @media (--2) {
      grid-column: 9 / end;
    }
  }
}

.ui {
  display: grid;
  grid-column: bleedstart / bleedend;
  place-self: center;
}
.feature {
  align-items: end;
  row-gap: 2rlh;
  @media (--2) {
    row-gap: 4rlh;
  }
}

.ctaSection {
  --sizeX: 2rlh;
  --sizeY: 2rlh;
  --color: color-mix(
    in srgb,
    var(--fg) calc(100% * var(--opacity-1)),
    transparent
  );
  composes: checker from global;
  background-position: center 0;
  position: relative;
  box-shadow: 0 0 0 1px var(--fg-border) inset;
  :global ul li {
    margin-bottom: 1rlh;
  }
}
.featureTitle {
  @media (--2) {
    grid-column: start / span 6;
  }
}
.featureBody {
  @media (--2) {
    grid-column: 8 / span 6;
  }
}

.illustration0 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center calc(100% + 1.5px);
  z-index: 0;
  mask-image: linear-gradient(to bottom, transparent, #0003);
  pointer-events: none;
}
.swirl {
  --size: min(2.5vmin, 48px);
  place-self: center;
  position: absolute;
  top: 25%;
  left: 50%;
  width: 100%;
  height: 100%;

  i {
    width: 2px;
    height: 2px;
    --x: calc(rem((sibling-index() - 1), 20) - 9.5);
    --y: calc(9.5 - round(down, (sibling-index() - 1) / 20));

    --n: calc((sibling-index() - 1) / (sibling-count() - 1));
    --hue: calc(mod(sin(var(--n) * 90deg) * 3600, 1) * 360);

    --distance: calc(sqrt(var(--x) * var(--x) + var(--y) * var(--y)) / sqrt(3));
    --angle: calc(atan2(var(--x), var(--y)) / -360deg);
    --delay: calc(var(--distance) * 2s + var(--angle) * 3s - 10s);

    position: absolute;
    inset: calc(var(--size) * -0.01);
    background-color: var(--bg);
    opacity: calc(80% - var(--distance) * 60%);
    translate: calc(var(--x) * var(--size)) calc(var(--y) * var(--size));
    animation: sqr 0.7s var(--delay, 15s) infinite ease-in-out alternate;
  }
}

@keyframes sqr {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}
