.prose p:has(img),
.prose picture {
  grid-column: start / end;
  z-index: 0;
  justify-content: start;
  display: grid;
  margin: 2em 0;
  @media (--sm) {
    grid-column: 8 / end;
  }
}

@keyframes mask-animation {
  0% {
    mask-image:
      linear-gradient(to right, white, transparent),
      linear-gradient(to right, white, white),
      linear-gradient(to right, transparent, white);
    mask-size:
      0 100%,
      100% 100%,
      2em 100%;
  }
  100% {
    mask-image:
      linear-gradient(to right, white, transparent),
      linear-gradient(to right, white, white),
      linear-gradient(to right, transparent, white);
    mask-size:
      2em 100%,
      100% 100%,
      0 100%;
  }
}

.prose {
  display: grid;
  row-gap: 2rem;

  :global .katex-display {
    padding: 1.5em;
    display: grid;
    grid-column: start / end;
    font-size: var(--body-small);
    overflow-x: auto;
    overflow-y: hidden;

    @media (--sm) {
      z-index: 1;
      font-size: var(--h5);
    }

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: color-mix(
        in srgb,
        var(--fg) calc(100% * var(--opacity-3)),
        transparent
      );
    }
    &::-webkit-scrollbar-track {
      background-color: var(--fg-border);
    }
    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: var(--fg-accent);
      }
    }
  }

  :global .katex {
    color: var(--fg);
  }

  > * {
    grid-column: start / end;
    @media (--1) {
      grid-column: 3 / span 10;
    }
    @media (--2) {
      grid-column: 4 / span 8;
    }
  }
  /* p {
    color: var(--fg);
  } */

  & > *:is(h1, h2, h3, h4, h5, h6) {
    margin-top: 0.5lh;
  }

  section {
    grid-column: bleedstart / bleedend;
  }

  pre {
    overflow-x: auto;
  }

  :global .footnotes {
    grid-column: start / end;
    padding-top: 0.5em;
    margin-top: 1em;
    box-shadow: 0 1px 0 var(--fg-border);
    @media (--sm) {
      grid-column: 8 / end;
    }
  }

  /* Hide the section label for visual users. */
  :global .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    word-wrap: normal;
    border: 0;
  }

  /* Place `[` and `]` around footnote references. */

  :global [data-footnote-ref] {
    text-decoration: none;
    color: var(--fg);
    &:hover {
      color: var(--fg-dark);
    }
  }

  :global [data-footnote-ref]::before {
    content: "[";
  }

  :global [data-footnote-ref]::after {
    content: "]";
  }

  :global [data-footnote-backref] {
    text-indent: -999em;
    display: inline-flex;
    position: relative;
  }

  :global [data-footnote-backref]::after {
    content: "";
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOSA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0wLjUgMC41TDQuNSA0LjVMOC41IDAuNSIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz48L3N2Zz4=");
    mask-size: 10px;
    mask-repeat: no-repeat;
    mask-position: center 0.25em;

    text-indent: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    place-self: center start;
    width: 1.25em;
    height: 1.25em;
    left: 0;
    top: 0;
    transform: rotate(180deg);
    background: var(--fg-accent);
  }
}

@supports (animation-timeline: scroll(x self)) {
  .prose {
    :global .katex-display {
      mask-image:
        linear-gradient(to right, white, white),
        linear-gradient(to right, white, white),
        linear-gradient(to right, white, white);
      mask-repeat: no-repeat;
      mask-position:
        0 50%,
        50% 50%,
        100% 50%;
      mask-composite: exclude;
      &:local {
        animation: mask-animation both linear;
        animation-timeline: scroll(x self);
      }
    }
  }
  .table {
    mask-image:
      linear-gradient(to right, white, white),
      linear-gradient(to right, white, white),
      linear-gradient(to right, white, white);
    mask-repeat: no-repeat;
    mask-position:
      0 50%,
      50% 50%,
      100% 50%;
    mask-composite: exclude;
    &:local {
      animation: mask-animation both linear;
      animation-timeline: scroll(x self);
    }
  }
}

.image {
  display: grid;
  grid-column: bleedstart / bleedend;
  grid-template-columns: subgrid;
}

.chapterHeader {
  all: unset;
  display: contents;
  box-sizing: border-box;

  h1 {
    font-size: var(--body-small);
    grid-column: start / end;
    position: relative;
    clip: rect(0 0 0 0);
    visibility: hidden;
    text-indent: -9999px;
    font-size: var(--body);
    height: 1ch;

    &:before {
      content: "";
      visibility: visible;
      grid-column: start / end;
      position: absolute;
      display: grid;
      box-shadow: 0 1px 0 var(--fg-border);
      width: 100%;
      height: 1px;
      z-index: 1;
    }
  }

  p {
    z-index: 1;
    color: var(--fg);
    display: grid;
    grid-column: start / end;
    background: var(--bg);
    padding: 0.5em 0 0.5em 0;
    font-size: var(--small);
    position: sticky;
    top: 3rem;
    align-self: stretch;
    display: inline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    @media (--sm) {
      display: grid;
      top: 5em;
      padding: unset;
      white-space: normal;
      grid-column: start / span 5;
      background: linear-gradient(
        0deg,
        var(--background) calc(100% - 5px),
        transparent 100%
      );
    }
  }
}
.table {
  composes: scrollbar from global;
  grid-column: start / end;
  overflow-y: hidden;

  @media (--sm) {
    grid-column: 8 / span end;
  }
  @media (--lg) {
    grid-column: 8 / span end;
    overflow: visible;
  }
}

table {
  border-collapse: collapse;
  display: inline-grid;
  font-family: var(--font-mono);
  color: var(--fg);
  font-size: var(--small);
  width: 100%;

  :is(thead, tbody, tr) {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
  }

  td,
  th {
    padding: 0.5rlh 1rlh;
    display: block;
    box-shadow: 0 0 0 -1px;
    text-align: left;
  }
  th {
    color: var(--fg);
    white-space: nowrap;
    border-right: 1px solid var(--fg-border);
    &:last-of-type {
      border-right: none;
    }
  }
  td {
    border-bottom: 1px solid var(--fg-border);
    border-right: 1px solid var(--fg-border);
    &:last-of-type {
      border-right: none;
    }
  }
  tr {
    &:nth-child(even) {
      background: color-mix(
        in srgb,
        var(--bg-dark) calc(100% * var(--opacity-4)),
        transparent
      );
    }
    &:last-of-type td {
      border-bottom: none;
    }
  }
}

table thead:has(+ tbody) {
  border-bottom: 1px solid var(--fg-border);
}

span[data-rehype-pretty-code-figure] {
  background: var(--background-4);
  border-radius: var(--radius);
  box-shadow: var(--border) var(--fg-border);
  padding: 0 0.25em;
  font-size: var(--body-small);
}

figure[data-rehype-pretty-code-figure] {
  display: inline-grid;
  grid-column: start end;
  grid-row: auto;
  border-radius: var(--radius);
  background: hsl(var(--brand-0));
  position: relative;
  z-index: 1;

  @media (--md) {
    grid-column: 8 / end;
  }

  pre {
    overflow-x: auto;
  }

  .code {
    color: hsl(var(--steel-4));
    padding: 1.5em;
    mark {
      all: unset;
    }
    [data-highlighted-chars] > * {
      background: color-mix(in oklab, transparent 24%, currentColor);
      -webkit-text-fill-color: var(--fg);
      color: transparent;
      padding: 0.125em;
      mask-image: linear-gradient(to top, #fffd, var(--fg));

      &:last-of-type {
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
      }
      &:first-of-type {
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
      }
    }

    [data-line]:global(.highlighted),
    [data-highlighted-line] {
      margin: 0 -1.5em;
      padding: 0 1.5em;
      background: color-mix(in srgb, var(--background) 6%, var(--fg));
      &&:before {
        background: color-mix(in srgb, var(--background) 6%, var(--fg));
      }
    }
  }

  .code[data-line-numbers] {
    & {
      counter-reset: line;
    }

    & > [data-line]::before {
      counter-increment: line;
      content: counter(line);
      position: sticky;
      left: 0;
      background: var(--fg);
      display: inline-block;
      width: 1ch;
      padding: 0 2ch 0 1ch;
      margin-left: -2.5ch;
      text-align: right;
      color: gray; /* TODO: fix this */
      z-index: 1;
    }

    &[data-line-numbers-max-digits="2"] > [data-line]::before {
      width: 2ch;
    }

    &[data-line-numbers-max-digits="3"] > [data-line]::before {
      width: 3ch;
    }
  }
}

.blockquote {
  display: grid;
  font-style: italic;
  grid-column: bleedstart / bleedend;
  grid-template-columns: subgrid;
  row-gap: 0.5em;
  box-shadow:
    0 1px 0 var(--fg-border),
    0 1px 0 var(--fg-border) inset;
  padding: 0.25em 0.5em 0.5em 0.5em;
  & > * {
    grid-column: start / end;
    @media (--1) {
      grid-column: 3 / span 10;
    }
    @media (--2) {
      grid-column: 4 / span 8;
    }
  }
}
