.details {
  position: relative;
  border-bottom: 1px solid var(--fg-border);
}

summary.toggleButton {
  &::marker {
    content: "";
  }
  z-index: 1;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 50%, 0);
}

.detailsContentWrapper {
  mask-image: linear-gradient(
    to bottom,
    #000 calc(50% - 0rlh),
    rgba(0, 0, 0, 0) calc(50% + 11rlh)
  );
  mask-position: 0% 100%;
  mask-size: 100% 200%;
  mask-repeat: no-repeat;
  transition:
    mask-position 0.2s ease,
    mask-size 0.2s ease;
  [open] & {
    mask-position: 0% 0%;
  }
}

::details-content {
  content-visibility: visible;
  transition: height 0.2s ease;
  height: 11rlh;
  overflow: clip;
}

[open]::details-content {
  height: auto;
}

@supports (height: calc-size(auto, size + 2rlh)) {
  [open]::details-content {
    height: calc-size(auto, size + 2rlh);
  }
}
