.footer {
  position: relative;
  overflow: clip;
  background: var(--bg-dark);
  padding: 6rlh 0;
  section {
    background: transparent;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rlh;
}

.section {
  display: grid;
  row-gap: 4rlh;
}

.socials {
  grid-column: start / 4;
  display: flex;
  flex-direction: column;
  gap: 2rlh;
}
.copyright {
  order: -1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rlh;
  text-align: center;
  @media (--1) {
    order: 0;
    grid-column: 5 / 11;
  }
}
.links {
  grid-column: 12 / end;
  display: flex;
  flex-direction: column;
  gap: 2rlh;
  text-align: right;
  align-items: flex-end;
}
.linksContent {
  display: flex;
  flex-direction: column;
  gap: 2rlh;
}
.footerChecker {
  --direction: top;
  composes: checker from global;
  composes: grid-parent from global;
  --sizeX: 1rlh;
  --sizeY: 1rlh;
  --color: color-mix(
    in srgb,
    var(--fg) calc(100% * var(--opacity-1)),
    transparent
  );
  mask-image: linear-gradient(to top, #fff, #fff0);
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  & > .checkerLeft {
    content: "";
    grid-column: start / span 1;
    grid-row: 1;
    position: relative;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        0deg,
        var(--fg-border),
        var(--fg-border) 7px,
        transparent 7px,
        transparent 12px,
        var(--fg-border) 12px
      )
      no-repeat 0 100% / 1.5px 100%;
  }
  & > .checkerRight {
    content: "";
    grid-column: 13 / span 1;
    grid-row: 1;
    position: relative;
    top: 0;
    right: calc(-100% - 1.5px);
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        0deg,
        var(--fg-border),
        var(--fg-border) 7px,
        transparent 7px,
        transparent 12px,
        var(--fg-border) 12px
      )
      no-repeat 100% 0% / 1.5px 100%;
  }
}
