.header {
  display: flex;
  flex-direction: column;
  gap: 1rlh;
  max-width: 32rlh;
}

.subtitle {
  color: var(--fg-secondary);
}

.sectionTitle {
  text-align: center;
  margin-bottom: 3rlh;
}

.pricingTable {
  display: grid;
  grid-column: bleedstart / bleedend;
  padding: 0 4rlh;
  grid-template-columns: auto repeat(4, 1fr);
  gap: 0;
}

.selfHostedTable {
}

.tableHeader,
.selfHostedHeader {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.headerCell {
  background-color: var(--bg-secondary);
  border-bottom: 1.5px solid var(--fg-border);
  padding: 1rlh;
  display: flex;
  flex-direction: column;
  gap: 1rlh;
  position: relative;
}

.headerCell:not(:first-child) {
  border-left: 1.5px solid var(--fg-border);
}

.popularHeader {
  background-color: color-mix(
    in srgb,
    var(--bg-dark) calc(100% * var(--opacity-5)),
    transparent
  );
}

.priceContainer {
  display: flex;
  align-items: baseline;
  gap: 0.25rlh;
}

.price {
  color: var(--fg);
}

.period {
  color: var(--fg-secondary);
}

/* Table Rows */
.tableRow {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.categoryRow {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.featureCell {
  background-color: var(--bg-secondary);
  border-bottom: 1.5px solid var(--fg-border);
  padding: 1rlh 1rlh 1rlh 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rlh;
  justify-content: center;
}

.categoryCell {
  background-color: var(--bg-tertiary);
  padding: 2rlh 1rlh 1rlh 0;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.featureCategory {
  white-space: nowrap;
}

.valueCell {
  background-color: var(--bg);
  border-bottom: 1.5px solid var(--fg-border);
  padding: 1rlh;
  display: flex;
  align-items: baseline;
  justify-content: start;
}

.pricingTable .valueCell:nth-child(4),
.pricingTable .emptyCategoryCell:nth-child(4) {
  background-color: color-mix(
    in srgb,
    var(--bg-dark) calc(100% * var(--opacity-5)),
    transparent
  );
}

.pricingTable .tableRow:last-child .featureCell,
.pricingTable .tableRow:last-child .valueCell,
.pricingTable .categoryRow:last-child .categoryCell,
.pricingTable .categoryRow:last-child .emptyCategoryCell,
.selfHostedTable .tableRow:last-child .featureCell,
.selfHostedTable .tableRow:last-child .valueCell,
.selfHostedTable .categoryRow:last-child .categoryCell,
.selfHostedTable .categoryRow:last-child .emptyCategoryCell {
  border-bottom: none;
}
