.nav {
  composes: grid-parent from global;
  min-height: 4rlh;
  view-transition-name: main-navigation;
  position: sticky;
  top: 0;
  z-index: 3;
  background-image:
    repeating-linear-gradient(
      270deg,
      var(--fg-border),
      var(--fg-border) 7px,
      transparent 7px,
      transparent 12px,
      var(--fg-border) 12px
    ),
    repeating-linear-gradient(
      270deg,
      var(--fg-border),
      var(--fg-border) 7px,
      transparent 7px,
      transparent 12px,
      var(--fg-border) 12px
    );
  background-size:
    100% 0px,
    100% 1.5px;
  background-position:
    0 100%,
    0 0%;
  background-repeat: no-repeat;

  &[data-sticky="true"] {
    background-size:
      100% 1.5px,
      100% 0px;
  }
}

.navBackground {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 14rlh;
  background: linear-gradient(
    180deg,
    var(--bg) 5%,
    var(--bg-secondary) 40%,
    transparent
  );
  z-index: 2;
  display: block;
  opacity: 0;
  transition: opacity 0.2s ease;
}

body[data-sticky="true"] .navBackground {
  opacity: 1;
}

.navItem {
  text-decoration: none;
  color: inherit;
  composes: small from global;
  composes: caps from global;
  font-family: var(--font-judge-extended);
  user-select: none;
  transition: color 0.2s ease;
  &:hover {
    text-decoration: none;
    color: var(--fg-secondary);
  }
  &:global(.active) {
    cursor: default;
    color: color-mix(
      in srgb,
      var(--fg-border) calc(100% * var(--opacity-6)),
      var(--fg)
    );
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  grid-column: start / end;
}
.menu {
  padding: 0;
  display: flex;
  gap: 2rlh;
}
.logo {
  display: flex;
  view-transition-name: site-logo;
}

.checker {
  composes: checker from global;
  composes: grid-parent from global;
  --size: calc(var(--unit-size) / 3);
  --color: color-mix(
    in srgb,
    var(--fg) calc(100% * var(--opacity-1)),
    transparent
  );
  mask-image: linear-gradient(to bottom, #fff, #fff0);
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  &:before {
    content: "";
    grid-column: start / span 1;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        0deg,
        var(--fg-border),
        var(--fg-border) 7px,
        transparent 7px,
        transparent 12px,
        var(--fg-border) 12px
      )
      no-repeat 0 100% / 1.5px 100%;
  }
  &:after {
    content: "";
    grid-column: 13 / span 1;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        0deg,
        var(--fg-border),
        var(--fg-border) 7px,
        transparent 7px,
        transparent 12px,
        var(--fg-border) 12px
      )
      no-repeat 100% 0% / 1.5px 100%;
  }
}
