.nav {
  composes: grid-parent from global;
  min-height: 2rlh;
  padding: 1rlh 0;
  view-transition-name: main-navigation;
  position: sticky;
  top: 0;
  z-index: 3;
  background-image:
    repeating-linear-gradient(
      270deg,
      var(--fg-border),
      var(--fg-border) 7px,
      transparent 7px,
      transparent 12px,
      var(--fg-border) 12px
    ),
    repeating-linear-gradient(
      270deg,
      var(--fg-border),
      var(--fg-border) 7px,
      transparent 7px,
      transparent 12px,
      var(--fg-border) 12px
    );
  background-size:
    100% 0px,
    100% 1.5px;
  background-position:
    0 100%,
    0 0%;
  background-repeat: no-repeat;
  transition:
    background-color 0.2s ease,
    padding 0.2s ease;

  &[data-sticky="true"] {
    background-size:
      100% 1.5px,
      100% 0px;

    @supports (width: calc-size(auto, size)) {
      .cta {
        width: calc-size(auto, size);
        padding: 0 1rlh 0 0;
        margin-inline-start: 2rlh;
        opacity: 1;
      }
    }
  }
  @media (--1-max) {
    &[data-mobile-open="true"] {
      background-color: color-mix(
        in srgb,
        var(--bg-dark) calc(100% * var(--opacity-7)),
        transparent
      );
      padding: 2rlh 0;
      backdrop-filter: blur(32px);
      z-index: 2;
    }
  }
}

.navBackground {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: clamp(12rlh, 30vh, 20rlh);

  background: linear-gradient(
    to bottom,
    hsl(var(--navy) / 1) 0%,
    hsla(var(--navy) / 0.987) 5.6%,
    hsla(var(--navy) / 0.951) 10.5%,
    hsla(var(--navy) / 0.896) 14.8%,
    hsla(var(--navy) / 0.825) 18.9%,
    hsla(var(--navy) / 0.741) 22.8%,
    hsla(var(--navy) / 0.648) 26.8%,
    hsla(var(--navy) / 0.55) 31.2%,
    hsla(var(--navy) / 0.45) 36%,
    hsla(var(--navy) / 0.352) 41.5%,
    hsla(var(--navy) / 0.259) 47.9%,
    hsla(var(--navy) / 0.175) 55.3%,
    hsla(var(--navy) / 0.104) 64.1%,
    hsla(var(--navy) / 0.049) 74.3%,
    hsla(var(--navy) / 0.013) 86.2%,
    hsla(var(--navy) / 0) 100%
  );
  z-index: 2;
  display: block;
  opacity: 0;
  transition: opacity 0.2s ease;
}

[data-theme="light"] {
  .navBackground {
    background: linear-gradient(
      to bottom,
      hsl(var(--cyan) / 1) 0%,
      hsla(var(--cyan) / 0.987) 5.6%,
      hsla(var(--cyan) / 0.951) 10.5%,
      hsla(var(--cyan) / 0.896) 14.8%,
      hsla(var(--cyan) / 0.825) 18.9%,
      hsla(var(--cyan) / 0.741) 22.8%,
      hsla(var(--cyan) / 0.648) 26.8%,
      hsla(var(--cyan) / 0.55) 31.2%,
      hsla(var(--cyan) / 0.45) 36%,
      hsla(var(--cyan) / 0.352) 41.5%,
      hsla(var(--cyan) / 0.259) 47.9%,
      hsla(var(--cyan) / 0.175) 55.3%,
      hsla(var(--cyan) / 0.104) 64.1%,
      hsla(var(--cyan) / 0.049) 74.3%,
      hsla(var(--cyan) / 0.013) 86.2%,
      hsla(var(--cyan) / 0) 100%
    );
  }
}

body[data-sticky="true"] .navBackground {
  opacity: 1;
}

.navItem {
  text-decoration: none;
  color: inherit;
  composes: small from global;
  composes: caps from global;
  font-family: var(--font-judge-extended);
  user-select: none;
  transition: color 0.2s ease;
  &:hover {
    text-decoration: none;
    color: var(--fg-secondary);
  }
  &:global(.active) {
    cursor: default;
    color: color-mix(
      in srgb,
      var(--fg-border) calc(100% * var(--opacity-6)),
      var(--fg)
    );
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  grid-column: start / end;
}

/* Desktop Menu */
.menuDesktop {
  padding: 0;
  margin: 0;
  display: none;
  align-items: center;

  @media (--1) {
    display: flex;
  }

  & > * + * {
    margin-inline-start: 2rlh;
  }
  .cta {
    margin-inline-start: 2rlh;
  }
  @supports (width: calc-size(auto, size)) {
    .cta {
      width: 0;
      padding: 0;
      margin-inline-start: 0;
      min-width: 0;
      opacity: 0;
      transition:
        width 0.16s ease,
        margin-inline-start 0.1s ease,
        padding 0.4s ease;
    }
  }
}

/* Burger Button */
.burgerButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1rlh;
  height: 1rlh;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  @media (--1) {
    display: none;
  }
}

.burgerLine {
  width: 100%;
  height: 1.5px;
  background-color: var(--fg);
  transition: all 0.3s ease;
}

/* Mobile Menu */
.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 2rlh;
  grid-column: bleedstart / bleedend;
  padding-top: 2rlh;
  /* border-top: 1px solid var(--fg-border); */

  @media (--1) {
    display: none;
  }
}

.mobileNavItem {
  composes: navItem;
  font-size: var(--h5);
  line-height: 1.2;
  padding: 0 2rlh;
}

hr {
  width: 100%;
  height: 1px;
  background-color: var(--fg-border);
  border: 0;
  margin: 0;
}

a.mobileButton {
  width: calc(100% - 4rlh);
  place-self: center;
  font-size: var(--h5);
}

.logo {
  display: flex;
  view-transition-name: site-logo;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 0.8;
  }
}

.checker {
  composes: checker from global;
  composes: grid-parent from global;
  --size: 1rlh;
  --color: color-mix(
    in srgb,
    var(--fg) calc(100% * var(--opacity-1)),
    transparent
  );
  mask-image: linear-gradient(to bottom, #fff, #fff0);
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  & > .checkerLeft {
    content: "";
    grid-column: start / span 1;
    grid-row: 1;
    position: relative;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        0deg,
        var(--fg-border),
        var(--fg-border) 7px,
        transparent 7px,
        transparent 12px,
        var(--fg-border) 12px
      )
      no-repeat 0 100% / 1.5px 100%;
  }
  & > .checkerRight {
    content: "";
    grid-column: 13 / span 1;
    grid-row: 1;
    position: relative;
    top: 0;
    right: calc(-100% - 1.5px);
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        0deg,
        var(--fg-border),
        var(--fg-border) 7px,
        transparent 7px,
        transparent 12px,
        var(--fg-border) 12px
      )
      no-repeat 100% 0% / 1.5px 100%;
  }
}
