.accordion {
  display: flex;
  /* gap: 3rlh; */
  &:has([open]) > * {
    flex: 0 0 5rlh;
    @media (--2) {
      flex: 0 0 10rlh;
    }
  }
}

.details {
  overflow: hidden;
  transition:
    flex 0.5s ease,
    opacity 0.5s ease;
  position: relative;
  flex: 1 0 5rlh;
  &:hover {
    opacity: 0.8;
  }
  @media (--2) {
    flex: 1 0 10rlh;
  }

  background: repeating-linear-gradient(
      0deg,
      var(--fg-border),
      var(--fg-border) 7px,
      transparent 7px,
      transparent 12px,
      var(--fg-border) 12px
    )
    no-repeat 0 100% / 1.5px 100%;
  &:first-of-type {
    background: none;
    .content {
      padding-left: 0;
      padding-right: 1rlh;
      @media (--2) {
        padding-right: 3rlh;
      }
    }
  }
  &:last-of-type {
    .content {
      padding-left: 1rlh;
      padding-right: 0;
      @media (--2) {
        padding-left: 3rlh;
      }
    }
  }
}
.gradient {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 4rlh;
  height: 100%;
  pointer-events: none;
  transition: opacity 1s ease;
  opacity: 1;
  composes: cubicGradient from global;
  --direction: left;
  --cubicColor: var(--navy);
  [data-theme="light"] & {
    --cubicColor: var(--cyan);
  }

  @media (--2) {
    width: 6rlh;
  }
}

.details[open] {
  pointer-events: none;
  flex: 1 0 0%;
  .gradient {
    opacity: 0;
  }
}

/* .details[open] .summary::after {
  transform: rotate(90deg);
} */

.summary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
  list-style: none;
  font-weight: 500;
  white-space: nowrap;
}

.summary::-webkit-details-marker {
  display: none;
}

.summary::marker {
  display: none;
}

/* .summary::after {
  content: "→";
} */

.content {
  display: grid;
  padding-left: 1rlh;
  padding-right: 1rlh;
  @media (--2) {
    padding-left: 3rlh;
    padding-right: 3rlh;
  }
}

@supports (height: calc-size(auto, size)) {
  .details::details-content {
    content-visibility: visible;
    overflow: clip;
    height: calc-size(auto, size);
  }
  /* .details[open]::details-content {
  } */
}
