.accordion {
  display: flex;
  &:has([open]) > * {
    flex: 0 0 7rlh;
  }
}

.item {
  border-left: 1px solid var(--fg-border);
  overflow: hidden;

  transition: flex 0.5s ease;
  position: relative;
  flex: 1 0 7rlh;
}

.item[open] {
  flex: content;
}

/* .item[open] .summary::after {
  transform: rotate(90deg);
} */

.summary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
  list-style: none;
  font-weight: 500;
  white-space: nowrap;
}

.summary::-webkit-details-marker {
  display: none;
}

.summary::marker {
  display: none;
}

.summary:hover {
  opacity: 0.8;
}

/* .summary::after {
  content: "→";
  float: right;
} */

.content {
  display: grid;
}

@supports (height: calc-size(auto, size)) {
  .item::details-content {
    content-visibility: visible;
    transition: padding-inline 0.5s ease;
    padding-inline: 1rlh;
    overflow: clip;
    height: calc-size(auto, size);
  }
  .item[open]::details-content {
    padding-inline: 3rlh;
    transition: padding-inline 0.5s ease;
  }
}
