.caseStudyGrid {
  display: grid;
  grid-template-columns: subgrid;
  & > * {
    display: flex;
    flex-direction: column;
    gap: 1rlh;
    grid-column: span 12;
  }
}
.caseStudyHeader {
  grid-column: start / end;
  display: grid;
  gap: 1rlh;
  @media (--1) {
    grid-column: 3 / span 10;
  }
  @media (--2) {
    grid-column: 4 / span 8;
  }
}

.caseStudyCard {
  border-top: 1px solid var(--fg-border);
  padding-block: 4rlh;
  display: grid;
  grid-template-columns: subgrid;
  & > * {
    grid-column: span 6;
  }
}
