.caseStudyGrid {
  display: grid;
  grid-template-columns: subgrid;
  & > * {
    display: flex;
    flex-direction: column;
    gap: 1rlh;
    grid-column: span 12;
  }
}

.narrow {
  grid-column: start / end;
  @media (--1) {
    grid-column: 3 / span 10;
  }
  @media (--2) {
    grid-column: 4 / span 8;
  }
}

.caseStudyTop {
  grid-column: start / end;
  display: flex;
  flex-wrap: wrap;
  gap: 1rlh;
  justify-content: space-between;
  align-items: flex-end;
  & > *:last-child {
    align-self: flex-end;
    min-height: calc-size(min-content, round(up, size, 1rlh));
  }
}

.caseStudyHeader {
  display: grid;
  gap: 1rlh;
  composes: narrow;
}

.caseStudyMeta {
  composes: narrow;
  grid-column-end: bleedend;

  & > * {
    display: flex;
    border-bottom: 1.5px solid var(--fg-border);
    padding: 1rlh 0;
    min-height: calc-size(min-content, round(up, size, 1rlh));
    align-items: center;
    & > *:first-child {
      display: flex;
      min-width: 12rlh;
    }
  }
}

.logotype {
  height: 24px;
  width: auto;
}

.caseStudyCard {
  border-top: 1px solid var(--fg-border);
  padding-block: 4rlh;
  display: grid;
  grid-template-columns: subgrid;
  justify-items: start;
  align-items: end;
  & > * {
    grid-column: span 6;
  }
  & > a {
    text-decoration: none;
  }
}
