.caseStudyGrid {
  display: grid;
  grid-template-columns: subgrid;
  & > * {
    display: flex;
    flex-direction: column;
    gap: 1rlh;
    grid-column: span 12;
  }
}

.narrow {
  grid-column: start / end;
  @media (--1) {
    grid-column: 3 / span 10;
  }
  @media (--2) {
    grid-column: 4 / span 8;
  }
}

.caseStudyHeader {
  display: grid;
  gap: 1rlh;
  composes: narrow;
}

.caseStudyMeta {
  grid-column: bleedstart / bleedend;
  background-color: var(--bg-dark);

  gap: 0;
  @media (--1) {
    justify-content: start;
    display: grid;
    grid-column: 3 / span bleedend;
    grid-auto-flow: column;
    grid-template-columns: auto auto auto;
  }
  @media (--2) {
    grid-column: 4 / span bleedend;
  }

  & > * {
    gap: 1rlh;
    display: flex;
    flex-direction: column;
    align-items: start;
    white-space: nowrap;
    justify-content: space-between;
    padding: 1.5rlh;
    border-bottom: 1px solid var(--fg-border);
    @media (--1) {
      border-right: 1px solid var(--fg-border);
      border-bottom: none;
    }
    &:last-child {
      border-right: none;
    }
    & > *:first-child {
      color: color-mix(
        in srgb,
        var(--fg) calc(100% * var(--opacity-4)),
        transparent
      );
    }
    a {
      display: flex;
    }
  }
  img {
    height: 2rlh;
  }
}

.logotype {
  height: 24px;
  width: auto;
}

.caseStudyCard {
  border-top: 1px solid var(--fg-border);
  padding-block: 4rlh;
  display: grid;
  grid-template-columns: subgrid;
  justify-items: start;
  align-items: end;
  & > * {
    grid-column: span 6;
  }
  & > a {
    text-decoration: none;
  }
}
